


.bubble {
    border: 1px solid #aeb0fd;
    background-color: #f1f1fe; 
    color: #6366F1;
    width: 14vh;
    border-radius: 35px;
    text-align: center;
    height: 30px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.lambo {
    margin-top: 1vh;
    color: #888888;
}


.prodone {
    border: 1px solid #DDDEEE;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.prodone:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}