@font-face {
  font-family: 'Poppins';
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the font */
body {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  }

  body {
    background-image: url('../../portfolio/public/bgback2.png');
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: This makes the background fixed during scroll */
    background-position: center center; /* Center the image */
  }


* {
  align-items: center;
}
