

.tex {
    background-color: #f3ec78;
    background-image: linear-gradient(1deg, #FFFFFF, #000000);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
}

@media (max-width: 900px) {

    .tex {
        font-size: 20px;
        max-width: 500px;
        margin-top: 5vh;
    }

}


@media (max-width: 768px) {

    .tex {
        font-size: 15px;
        max-width: 500px;
        margin-top: 5vh;
    }

}

@media (max-width: 600px) {

    .tex {
        font-size: 15px;
        max-width: 300px;
        align-items: center;
        text-align: center;
    }

}


@media (max-width: 300px) {

    .tex {
        font-size: 10px;
        max-width: 300px;
        align-items: center;
        text-align: center;
    }


}